<h1>ACTIVITY 2 : UK ROAD ACCIDENT</h1><hr>

<h3>Analyst : Lusanta , Louie John V.</h3>

<h2>IMPORT NECESSARY LIBRARIES</h2>

In [1]:
#import libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h2>CONVERT DATASET TO DATAFRAME</h2>

In [2]:
accident = pd.read_csv("C:\\Users\\Leenitte\\Downloads\\uk_road_accident.csv")
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<H3> CHECK DATAFRAME AND INFORMATION</H3>

In [3]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

<H2>CHECK BASIC DESCRIPTIVE STATISTICS</H2>

In [4]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

<h2>CALL EACH COLUMN INDIVIDUALLY</h2>

In [5]:
accident['Index']

0         200701BS64157
1         200701BS65737
2         200701BS66127
3         200701BS66128
4         200701BS66837
              ...
660674    201091NM01760
660675    201091NM01881
660676    201091NM01935
660677    201091NM01964
660678    201091NM02142
Name: Index, Length: 660679, dtype: object

In [6]:
accident['Accident_Severity']

0         Serious
1         Serious
2         Serious
3         Serious
4          Slight
           ...
660674     Slight
660675     Slight
660676     Slight
660677    Serious
660678    Serious
Name: Accident_Severity, Length: 660679, dtype: object

In [7]:
accident['Accident Date']

0           5/6/2019
1           2/7/2019
2         26-08-2019
3         16-08-2019
4           3/9/2019
             ...
660674    18-02-2022
660675    21-02-2022
660676    23-02-2022
660677    23-02-2022
660678    28-02-2022
Name: Accident Date, Length: 660679, dtype: object

In [8]:
accident['Latitude']

0         51.506187
1         51.495029
2         51.517715
3         51.495478
4         51.488576
            ...
660674    57.374005
660675    57.232273
660676    57.585044
660677    57.214898
660678    57.575210
Name: Latitude, Length: 660679, dtype: float64

In [9]:
accident['Light_Conditions']

0               Darkness - lights lit
1                            Daylight
2         Darkness - lighting unknown
3                            Daylight
4               Darkness - lights lit
                     ...
660674                       Daylight
660675         Darkness - no lighting
660676                       Daylight
660677         Darkness - no lighting
660678                       Daylight
Name: Light_Conditions, Length: 660679, dtype: object

In [10]:
accident['District Area']

0         Kensington and Chelsea
1         Kensington and Chelsea
2         Kensington and Chelsea
3         Kensington and Chelsea
4         Kensington and Chelsea
                   ...
660674                  Highland
660675                  Highland
660676                  Highland
660677                  Highland
660678                  Highland
Name: District Area, Length: 660679, dtype: object

In [11]:
accident['Longitude']

0        -0.209082
1        -0.173647
2        -0.210215
3        -0.202731
4        -0.192487
            ...
660674   -3.467828
660675   -3.809281
660676   -3.862727
660677   -3.823997
660678   -3.895673
Name: Longitude, Length: 660679, dtype: float64

In [12]:
accident['Number_of_Casualties']

0         1
1         1
2         1
3         1
4         1
         ..
660674    2
660675    1
660676    1
660677    1
660678    1
Name: Number_of_Casualties, Length: 660679, dtype: int64

In [13]:
accident['Number_of_Vehicles']

0         2
1         2
2         3
3         4
4         2
         ..
660674    1
660675    1
660676    3
660677    2
660678    1
Name: Number_of_Vehicles, Length: 660679, dtype: int64

In [14]:
accident['Road_Surface_Conditions']

0                  Dry
1          Wet or damp
2                  Dry
3                  Dry
4                  Dry
              ...
660674             Dry
660675    Frost or ice
660676    Frost or ice
660677     Wet or damp
660678     Wet or damp
Name: Road_Surface_Conditions, Length: 660679, dtype: object

In [15]:
accident['Road_Type']

0         Single carriageway
1         Single carriageway
2                        NaN
3         Single carriageway
4                        NaN
                 ...
660674    Single carriageway
660675    Single carriageway
660676    Single carriageway
660677    Single carriageway
660678      Dual carriageway
Name: Road_Type, Length: 660679, dtype: object

In [16]:
accident['Urban_or_Rural_Area']

0         Urban
1         Urban
2         Urban
3         Urban
4         Urban
          ...
660674    Rural
660675    Rural
660676    Rural
660677    Rural
660678    Rural
Name: Urban_or_Rural_Area, Length: 660679, dtype: object

In [17]:
accident['Weather_Conditions']

0            Fine no high winds
1         Raining no high winds
2                           NaN
3            Fine no high winds
4                           NaN
                  ...
660674       Fine no high winds
660675       Fine no high winds
660676       Fine no high winds
660677       Fine no high winds
660678    Snowing no high winds
Name: Weather_Conditions, Length: 660679, dtype: object

In [18]:
accident['Vehicle_Type']

0                                          Car
1                                          Car
2                        Taxi/Private hire car
3         Bus or coach (17 or more pass seats)
4                                Other vehicle
                          ...
660674                                     Car
660675                                     Car
660676                                     Car
660677                   Motorcycle over 500cc
660678                                     Car
Name: Vehicle_Type, Length: 660679, dtype: object

<h2>CHECK FOR NULL VALUES</h2>

In [19]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

<h2>FILL NULL VALUES WITH STATISTCAL VALUES</h2>

In [20]:
accident['Latitude'] = accident['Latitude'] .fillna(accident['Latitude'].mean())
accident['Longitude'] = accident['Longitude'] .fillna(accident['Longitude'].mean())
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'] .fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'] .fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'] .fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'] .fillna(accident['Weather_Conditions'].mode()[0])

In [21]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h2>CHECK COLUMN DATA TYPES</h2>

In [22]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [23]:
accident['Index'] = accident ['Index'].astype('category')

In [24]:
accident['Accident_Severity'] = accident ['Accident_Severity'].astype('category')

In [25]:
accident['Accident Date'] = accident ['Accident Date'].astype('category')

In [26]:
accident['Light_Conditions'] = accident ['Light_Conditions'].astype('category')

In [27]:
accident['District Area'] = accident ['District Area'].astype('category')

In [28]:
accident['Road_Surface_Conditions'] = accident ['Road_Surface_Conditions'].astype('category')

In [29]:
accident['Road_Type'] = accident ['Road_Type'].astype('category')

In [30]:
accident['Urban_or_Rural_Area'] = accident ['Urban_or_Rural_Area'].astype('category')

In [31]:
accident['Weather_Conditions'] = accident ['Weather_Conditions'].astype('category')

In [32]:
accident['Vehicle_Type'] = accident ['Vehicle_Type'].astype('category')

In [33]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  category
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(10), float64(2), int64(2)
memory usage: 49.0 MB

<h1>EXPLORATORY DATA ANALYSIS</h1><HR>

<h2>QUESTION 1: Which accidents were fatal and happened at night?</h2>

In [34]:
fatal_night = accident[(accident["Accident_Severity"] == "Fatal") & 
                       (accident["Light_Conditions"] == "Darkness - lights lit")]
fatal_night

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
7,200701BS67370,Fatal,3/10/2019,51.482260,Darkness - lights lit,Kensington and Chelsea,-0.179486,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car
997,200701CP00318,Fatal,19-11-2019,51.516045,Darkness - lights lit,City of London,-0.081859,7,2,Wet or damp,Dual carriageway,Urban,Raining no high winds,Motorcycle over 500cc
2654,200701EK65734,Fatal,30-07-2019,51.523684,Darkness - lights lit,Camden,-0.137327,2,2,Dry,Single carriageway,Urban,Fine no high winds,Car
2707,200701EK69009,Fatal,24-11-2019,51.516285,Darkness - lights lit,Camden,-0.130134,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
4226,200701FH68977,Fatal,12/12/2019,51.490844,Darkness - lights lit,Hammersmith and Fulham,-0.229130,1,1,Dry,Single carriageway,Urban,Fine no high winds,Van / Goods 3.5 tonnes mgw or under
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658939,201063AC00710,Fatal,10/1/2022,51.745470,Darkness - lights lit,Carmarthenshire,-4.065257,1,1,Frost or ice,Roundabout,Rural,Fine no high winds,Car
659412,201063BC00210,Fatal,22-01-2022,52.194010,Darkness - lights lit,Ceredigion,-4.307669,1,1,Wet or damp,Dual carriageway,Rural,Fog or mist,Car
659806,201063CP18910,Fatal,1/8/2022,51.831053,Darkness - lights lit,Pembrokeshire,-5.057082,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660311,201063DP35410,Fatal,28-10-2022,52.515278,Darkness - lights lit,Powys,-3.317265,1,1,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle
660581,201091NJ14695,Fatal,21-10-2022,58.445475,Darkness - lights lit,Highland,-3.065535,1,1,Wet or damp,Single carriageway,Rural,Fine no high winds,Car

<h3>Insight: Fatal accidents at night highlight the risk of poor visibility.</h3>

<h2>QUESTION 2: Which accidents happened in urban areas with only 1 vehicle?</h2>

In [35]:
urban_single = accident[(accident["Urban_or_Rural_Area"] == "Urban") & 
                        (accident["Number_of_Vehicles"] == 1)]
urban_single

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
12,200701BS67773,Serious,12/11/2019,51.500823,Daylight,Kensington and Chelsea,-0.193587,1,1,Dry,Single carriageway,Urban,Fine no high winds,Motorcycle 125cc and under
14,200701BS67859,Slight,1/11/2019,51.485125,Darkness - lights lit,Kensington and Chelsea,-0.167129,1,1,Dry,One way street,Urban,Fine no high winds,Car
17,200701BS68160,Serious,10/10/2019,51.508445,Daylight,Kensington and Chelsea,-0.215622,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
20,200701BS68301,Fatal,24-10-2019,51.505996,Daylight,Kensington and Chelsea,-0.214277,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
21,200701BS68302,Fatal,24-11-2019,51.486795,Daylight,Kensington and Chelsea,-0.170375,5,1,Dry,Single carriageway,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660010,201063DP04610,Serious,25-02-2022,52.514121,Daylight,Powys,-3.316199,1,1,Dry,Single carriageway,Urban,Fine no high winds,Car
660066,201063DP10210,Serious,1/5/2022,51.767977,Darkness - lights lit,Powys,-3.777719,1,1,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
660182,201063DP22110,Serious,26-07-2022,52.505760,Daylight,Powys,-3.324201,1,1,Dry,Single carriageway,Urban,Fine no high winds,Van / Goods 3.5 tonnes mgw or under
660311,201063DP35410,Fatal,28-10-2022,52.515278,Darkness - lights lit,Powys,-3.317265,1,1,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle
660382,201063DP42910,Slight,21-12-2022,52.514222,Daylight,Powys,-3.315171,1,1,Snow,One way street,Urban,Snowing no high winds,Car

<h3>Insight: Single-vehicle crashes in urban areas may involve pedestrians or cyclists.</h3>

<h2>QUESTION 3:What is the average number of casualties during different light conditions?</h2>

In [36]:
avg_casualties_light = accident.groupby("Light_Conditions")["Number_of_Casualties"].mean()
avg_casualties_light

Light_Conditions
Darkness - lighting unknown    1.306447
Darkness - lights lit          1.369374
Darkness - lights unlit        1.331105
Darkness - no lighting         1.541657
Daylight                       1.340309
Name: Number_of_Casualties, dtype: float64

<H3>Insight: Darkness usually increases the average casualties compared to daylight. This highlights the importance of visibility in road safety.</H3>

<h2>QUESTION 4: Which vehicle type is most often involved in accidents on rural roads?</h2>

In [37]:
rural_vehicles = accident[accident["Urban_or_Rural_Area"] == "Rural"]
vehicle_rural_count = rural_vehicles.groupby("Vehicle_Type")["Index"].count()
vehicle_rural_count

Vehicle_Type
Agricultural vehicle                        675
Bus or coach (17 or more pass seats)       9025
Car                                      181922
Data missing or out of range                  0
Goods 7.5 tonnes mgw and over              6156
Goods over 3.5t. and under 7.5t            2232
Minibus (8 - 16 passenger seats)            718
Motorcycle 125cc and under                 5023
Motorcycle 50cc and under                  2710
Motorcycle over 125cc and up to 500cc      2674
Motorcycle over 500cc                      8957
Other vehicle                              1994
Pedal cycle                                  70
Ridden horse                                  1
Taxi/Private hire car                      4677
Van / Goods 3.5 tonnes mgw or under       12156
Name: Index, dtype: int64

<h3>Insight: Certain vehicles, like cars or heavy goods vehicles, may dominate rural crashes. This reflects traffic composition and road usage outside cities.</h3>

<h2>Question 5: Which road type has the highest average casualties?</h2>

In [38]:
avg_casualties_road = accident.groupby("Road_Type")["Number_of_Casualties"].mean()
avg_casualties_road

Road_Type
Dual carriageway      1.477279
One way street        1.192713
Roundabout            1.274891
Single carriageway    1.343788
Slip road             1.423661
Name: Number_of_Casualties, dtype: float64

<h3>Insight: Motorways and dual carriageways usually show higher averages. Road type clearly affects how severe accidents can be.</h3>

<h2>Question 6: What is the average number of casualties in each district area?</h2>

In [39]:
avg_casualties_district = accident.groupby("District Area")["Number_of_Casualties"].mean()
avg_casualties_district

District Area
Aberdeen City    1.139834
Aberdeenshire    1.310363
Adur             1.319871
Allerdale        1.474291
Alnwick          1.512931
                   ...
Wychavon         1.427627
Wycombe          1.412377
Wyre             1.378029
Wyre Forest      1.382869
York             1.293094
Name: Number_of_Casualties, Length: 422, dtype: float64

<H3>Insight: Some districts have consistently higher averages. This might be due to population density or busy traffic networks.</H3>

<h2>Question 7: Which district area has the highest number of fatal accidents?</h2>

In [40]:
fatal_district = accident[accident["Accident_Severity"] == "Fatal"]
fatal_district_count = fatal_district.groupby("District Area")["Index"].count()
fatal_district_count

District Area
Aberdeen City    12
Aberdeenshire    66
Adur              8
Allerdale        24
Alnwick           6
                 ..
Wychavon         30
Wycombe          20
Wyre             15
Wyre Forest      22
York             21
Name: Index, Length: 422, dtype: int64

<H3>Insight: Some districts record more fatal crashes than others. This shows regional differences in road safety.</H3>

<h2>Question 8: What is the average number of casualties per accident in rural vs. urban areas?</h2>

In [41]:
avg_casualties_area = accident.groupby("Urban_or_Rural_Area")["Number_of_Casualties"].mean()
avg_casualties_area

Urban_or_Rural_Area
Rural          1.479204
Unallocated    1.181818
Urban          1.287807
Name: Number_of_Casualties, dtype: float64

<H3>Insight: Rural accidents tend to have higher average casualties than urban ones. Speed and emergency response time may explain this.</H3>

<h2>Question 9: Which light condition has the highest number of fatal accidents?</h2>

In [42]:
fatal_light = accident[accident["Accident_Severity"] == "Fatal"]
fatal_light_count = fatal_light.groupby("Light_Conditions")["Index"].count()
fatal_light_count

Light_Conditions
Darkness - lighting unknown      68
Darkness - lights lit          1860
Darkness - lights unlit          45
Darkness - no lighting         1612
Daylight                       5076
Name: Index, dtype: int64

<H3>Insight: Fatal accidents are often higher in darkness. Visibility plays a crucial role in accident outcomes.</H3>

<h2>Question 10: Which weather condition leads to the highest number of serious accidents?</h2>

serious_weather = accident[accident["Accident_Severity"] == "Serious"]
serious_weather_count = serious_weather.groupby("Weather_Conditions")["Index"].count()
serious_weather_count

<H3>Insight: Serious crashes may peak in rain or fog. This highlights how weather increases road danger.</H3>

<h2>Question 11: What is the average number of casualties by road surface conditions?</h2>

In [43]:
avg_casualties_surface = accident.groupby("Road_Surface_Conditions")["Number_of_Casualties"].mean()
avg_casualties_surface

Road_Surface_Conditions
Dry                     1.334545
Flood over 3cm. deep    1.495575
Frost or ice            1.348815
Snow                    1.359593
Wet or damp             1.411064
Name: Number_of_Casualties, dtype: float64

Insight: Slippery surfaces (like wet or icy roads) generally show higher averages. This highlights the danger of poor traction.

<h2>Question 12: Which vehicle type is most involved in fatal accidents?</h2>

In [44]:
fatal_accidents = accident[accident["Accident_Severity"] == "Fatal"]
fatal_vehicle_count = fatal_accidents.groupby("Vehicle_Type")["Index"].count()
fatal_vehicle_count

Vehicle_Type
Agricultural vehicle                       21
Bus or coach (17 or more pass seats)      325
Car                                      6577
Data missing or out of range                0
Goods 7.5 tonnes mgw and over             216
Goods over 3.5t. and under 7.5t            67
Minibus (8 - 16 passenger seats)           29
Motorcycle 125cc and under                189
Motorcycle 50cc and under                  95
Motorcycle over 125cc and up to 500cc     105
Motorcycle over 500cc                     339
Other vehicle                              70
Pedal cycle                                 6
Ridden horse                                0
Taxi/Private hire car                     155
Van / Goods 3.5 tonnes mgw or under       467
Name: Index, dtype: int64

<H3>Insight: Cars usually dominate fatal accidents because they are the most common. However, heavy vehicles may also appear more often than expected.</H3>

<h2>Question 13: Which road type has the most accidents in rural areas?</h2>

In [45]:
rural_accidents = accident[accident["Urban_or_Rural_Area"] == "Rural"]
rural_road_count = rural_accidents.groupby("Road_Type")["Index"].count()
rural_road_count

Road_Type
Dual carriageway       48715
One way street          1193
Roundabout             15545
Single carriageway    169243
Slip road               4294
Name: Index, dtype: int64

<H3>Insight: Single carriageways often dominate rural crashes. This reflects the layout of most rural roads.</H3>

<h2>Question 14:Which district area has the highest average number of vehicles in accidents during fine weather?</h2>

In [46]:
fine_accidents = accident[accident["Weather_Conditions"] == "Fine"]
avg_fine_district = fine_accidents.groupby("District Area")["Number_of_Vehicles"].mean()
avg_fine_district

District Area
Aberdeen City   NaN
Aberdeenshire   NaN
Adur            NaN
Allerdale       NaN
Alnwick         NaN
                 ..
Wychavon        NaN
Wycombe         NaN
Wyre            NaN
Wyre Forest     NaN
York            NaN
Name: Number_of_Vehicles, Length: 422, dtype: float64

<H3>Insight: Some districts have larger vehicle crashes even in good weather. This may be linked to higher traffic density or road design.</H3>

<h2>Question 15:What is the correlation between number of vehicles and number of casualties?</h2>

In [47]:
vehicle_casualty_corr = accident["Number_of_Vehicles"].corr(accident["Number_of_Casualties"])
vehicle_casualty_corr

np.float64(0.22888886126927627)

<H3>Insight: A positive correlation means more vehicles often lead to more casualties.</H3>

<h2>Question 16 : Which light condition has the lowest average casualties?</h2>

In [48]:
avg_casualties_light = accident.groupby("Light_Conditions")["Number_of_Casualties"].mean()
avg_casualties_light

Light_Conditions
Darkness - lighting unknown    1.306447
Darkness - lights lit          1.369374
Darkness - lights unlit        1.331105
Darkness - no lighting         1.541657
Daylight                       1.340309
Name: Number_of_Casualties, dtype: float64

<H3>Insight: Daylight accidents often have fewer casualties per crash compared to dark or poor lighting conditions. Light plays a critical safety role.</H3>

<h2>Question 17 : What is the correlation between latitude, longitude, and vehicles in fatal accidents only? </h2>

In [49]:
fatal_corr = accident[accident["Accident_Severity"] == "Fatal"][["Latitude", "Longitude", "Number_of_Vehicles"]].corr()
fatal_corr

                    Latitude  Longitude  Number_of_Vehicles
Latitude            1.000000  -0.388630           -0.029487
Longitude          -0.388630   1.000000            0.024267
Number_of_Vehicles -0.029487   0.024267            1.000000

<H3

<H3>Insight: Fatal accidents may cluster geographically, with some areas showing higher involvement of vehicles.</H3>

<h2>Question 18 : Do wet or icy road surfaces show higher average casualties compared to dry roads?</h2>

In [50]:
avg_casualties_surface = accident.groupby("Road_Surface_Conditions")["Number_of_Casualties"].mean()
avg_casualties_surface

Road_Surface_Conditions
Dry                     1.334545
Flood over 3cm. deep    1.495575
Frost or ice            1.348815
Snow                    1.359593
Wet or damp             1.411064
Name: Number_of_Casualties, dtype: float64

<H3>Insight: Slippery surfaces like wet or icy roads consistently report higher casualty averages, highlighting risk.</H3>

<h2>Question 19:What is the average number of vehicles involved in accidents for each severity level?</h2>

In [53]:
avg_vehicles_severity = accident.groupby("Accident_Severity")["Number_of_Vehicles"].mean()
avg_vehicles_severity

Accident_Severity
Fatal      1.786976
Serious    1.678327
Slight     1.855864
Name: Number_of_Vehicles, dtype: float64

<H3>Insight: Insight: Fatal accidents often involve fewer vehicles (single-car crashes), while slight accidents usually involve more.</H3>

<h2>Question 20:Do northern districts (higher latitude) report higher casualties per accident than southern ones?</h2>

In [54]:
corr_lat_casualties = accident[["Latitude", "Number_of_Casualties"]].corr()
corr_lat_casualties

                      Latitude  Number_of_Casualties
Latitude              1.000000              0.032201
Number_of_Casualties  0.032201              1.000000

<H3>Insight: A positive correlation suggests northern regions may have slightly higher casualty counts.</H3>